# <IfModule mod_rewrite.c> 

#     # rewrite engine settings:
#     RewriteEngine On
#     RewriteBase /
#     Options -Indexes

#     # rewrite rules:
#     RewriteRule . index.php [NC,L]
   

# </IfModule> 


php_value display_errors 1
php_flag output_buffering on